.text-search{      
        line-height: 450px;
        text-align: center;        
}

.text-search>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: slategrey;
    font-size: larger;
    font-weight: bold; 
  }

  .developer{       
        bottom: 0;
  }