<div class="text-center text-warning" *ngIf="!movies">
No movie(s) found with that title, please check the title and try again!
</div>
<div class="row">
    <div class="card border-0 col-md-4 col-sm-6 col-xs-12" *ngFor="let m of movies">
        <div class="app-clickable">
            <div class="card-body">             
                <div 
                class="poster"
                style.background-image="url({{posterImage(m.Poster)}})" >
                </div>                  
                <h5 
                class="card-title app-clickable" 
                [routerLink]="['/movie-details', m.imdbID]"
                >
                    {{ m.Title }}
                    <br>
                    ({{ m.Year }})
                </h5>              
            </div>
        </div>
        </div>
    </div>



