.card-body {
    padding: 0px;
    border: 1px solid gray;
    margin-bottom: 2em;
    border-radius: 15px;
}

.card-title{
    padding: 7px;
    margin-top: 10px;
    font-weight: bold;
}

.poster {
    border-radius: 15px 15px 0 0;
    background-position: center;
    background-size: cover;
    height: 500px;
}
