.card-body {
    padding: 0px;
    border: 1px solid gray;
    margin-bottom: 2em;
    border-radius: 15px;
}
.text-search{      
    line-height: 450px;
    text-align: center;        
}

.text-search>span {
display: inline-block;
vertical-align: middle;
line-height: normal;
color: slategrey;
font-size: larger;
font-weight: bold; 
}

.footerText{       
    bottom: 0;
}

.notFound{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}

.notFound>span{
vertical-align: middle;
line-height: normal;
font-size: larger;
font-weight: bold
    
}