<div class="text-center text-warning page-not-found" *ngIf="response?.Error">
    <span>404! Page not found.<br>
        No movie(s) found with the title entered, from our database.
         Please try a different title.
    </span>
</div>
<div class="row" *ngIf="response?.Response">    
    <!-- <pagination 
    [total-items]="totalItem" 
    [page-size]="pageSize" 
    (page-changed)="onPageChange($event)">
    </pagination> -->
        <div class="card border-0 col-md-4 col-sm-6 col-xs-12" *ngFor="let m of movies">
            <div class="app-clickable">
                <div
                 class="card-body"
                 [routerLink]="['/movie-details', m.imdbID]"
                 >            
                    <div 
                    class="poster"
                    style.background-image="url({{posterImage(m.Poster)}})" >
                    </div>                  
                    <h5 
                    class="card-title"                     
                    >{{ m.Title }}
                    <br>
                    ({{ m.Year }})
                    </h5>              
                </div>
            </div>
            </div>   
</div>



