/* You can add global styles to this file, and also import other style files */
@import url(https://bootswatch.com/4/simplex/bootstrap.min.css);

.app-clickable {
    cursor: pointer;
}
.poster {
    border-radius: 15px 15px 0 0;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.card-title{
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.developer{       
    bottom: 0;
}
.button-search{
    margin-top: 5px;
}