/* You can add global styles to this file, and also import other style files */
@import url(https://bootswatch.com/4/simplex/bootstrap.min.css);

.app-clickable {
    cursor: pointer;
}
.poster {
    border-radius: 15px 15px 0 0;
    background-position: center;
    background-size: cover; 
}

.developer{       
    bottom: 0;
}
.button-search{
    margin-top: 5px;
}
.notFound{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
.notFound>span{
vertical-align: middle;
line-height: normal;
font-size: larger;
font-weight: bold
    
}